<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>eSMS</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/asmselect/jquery.asmselect.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/asmselect/jquery.asmselect.css" /> 

    <style type="text/css" media="screen">
    @import url(/style.css);
    </style>

    <script type="text/javascript"> 
         
      $(document).ready(function() {
        $("select[multiple]").asmSelect({
          addItemTarget: 'bottom',
          animate: true,
          highlight: true,
          sortable: true
        });
      }); 
    </script> 
  </head>
  <body>

  <div id="thebox">
    <div id="logo">e<strong>SMS</strong></div>
    <div id="nav">
    <ul>    
      <li><a href="/">Home</a></li>
      <li><a href="/pagegroup">PageGroup</a></li>
      <li><a href="/pagecontact">PageContact</a></li>
      <li><a href="/quicksend">QuickSend</a></li>
    </ul>

  </div>
  <div id="content">
