<%= erb :header %>

  <h1>Welcome to eSMS</h1>
  Group paging for City of Siloam Springs Fire and Police Departments.

  <br />
  <br />
  <h2>System notices</h2>
  <%= erb :flash %>

<%= erb :footer %>
